<header>
    <a href="/destinations">
        <h1>Home</h1>
    </a>
    <h1 style=>Travel</h1>
    <nav>
        <ul>
            <li>
                 <a href="/destinations/new">Add a New Destination</a>
            </li>
        </ul>
    </nav>
</header>