<header>
    <a href="/destinations">
        <h2>Home</h2>
    </a>
    
    <nav>
        <ul>
            <li>
                 <a href="/destinations/new">Add a New Destination</a>
            </li>
        </ul>
    </nav>
</header>