<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/header.ejs')%>
    <div class="sidebar">
    <form class='newForm' action="/destinations" method='post'>
        <h1>New Page</h1>
        Name: <input type="text" name='name'/><br />
        Description: <input type="text" name='description'/><br />
        Image: <input type='text' src="url" name='img'/><br />
        Restaurants: <input type="text" name='restaurants'/><br />
        Museums: <input type="text" name='museums'/><br />
        Attractions: <input type="text" name='attractions'/><br />
        <input type="submit" value="Add Destination">
      </form>
    </div>
</body>
</html>