* {
    box-sizing: border-box;
  }

body{
    font-family: 'Lobster', cursive;
    background-color: #F0E9D2;
}
 .show{
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #677189;
    color: #E6DDC4;
    text-shadow: 0 0 ;
}
nav, nav > ul {
    display: flex;
    align-items: center;
}

header > nav > ul {
    list-style: none;
}

header li {
    margin-right: 1.7rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    color: lightgoldenrodyellow;
}
  
.indexContainer{
    background-image: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
    box-sizing: content-box;
    border-radius: 5px;
    border: inset silver;
    padding: 80px;
    text-align: center;
}
.indexUl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
    
}
.indexLi{
    flex-basis: 10%; 
    padding: 7%;
    border: lavender inset;
    background-color: #35394b;
    
}
.indexName{
    color: inherit;
    display: flex; 
    font-size: 22px;
    text-decoration: none;
    justify-content: center;
    background-color: #181D31;
    border: lightgoldenrodyellow outset;
    border-radius: 25px;
}
.indexImg{
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
    float:inline-grid; 
    width: 200px;
    height:200px;
    object-fit: scale-down; 
}

.showImg{
    width: 500px;
    height:300px;
    display: flex;
    align-content: center;
}

.edit {
    text-decoration: none;
    color: inherit;
    color: black;
    background-color: gold;
    border: gold outset;
    border-radius: 15px;
    padding:10px;
    line-height: 2rem; 
}

.deleteSty{
    display: flex;
    justify-content: center;
    border: lightgoldenrodyellow inset; 
    background-color: rgb(237, 14, 14);
    border-radius: 15px;
    padding:5px;
    margin: 0 auto;
    display: block;
    font-family:'Times New Roman', Times, serif;
    color: wheat;

}

.newForm, .editForm{
    width: 50%;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    position:absolute;
    left:0;
    margin: 20px;
    background-color: #E6DDC4;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .indexImg{
        display: flex;
        flex: wrap;
        justify-content: space-evenly;
        float:inline-grid; 
        width: 500px;
        height:500px;
        object-fit: scale-down; 
    }
}